*{
    font-family: Arial, Helvetica, sans-serif;
}



/*NAVIGASI*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.nav-container {
    display: flex;
    margin-right: 15px;
    

}

.nav-items {
    text-decoration: none;
    color: black;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid black;
    
    
}

.text-icon {
    font-weight: 600;
    margin-left: 15px;
}

#item-1 {
    border-right: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#item-2 {
    border-right: transparent;
}

#item-3 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*JUDUL WEB*/
.main-theme {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 10px;
    
}

.judul {
    color:#3B4754;
    font-size: 2rem;
}

.desc-judul {
    color: #798DA3;
    font-weight: 300;
}

/*KONTEN GAMBAR AMA FORM*/
.main-content-1 {
    display: flex;
    margin: 50px;
}

.content-1 {
    width: 75%;
    height:45rem;
    border: 1px solid black;
    
}

.content-form {
    width:25%;
    height: 40rem;
    border: 1px solid black;
    padding: 30px;
    
}


.judul-form {
    height: 50px;
    font-weight: bolder;
    font-size:x-large;
    color:#3B4754;
}

.desc-form {
    color:#798DA3;
}

#name {
    width:290px;
    height:30px;
    border-radius: 5px;
    
}

#mail {
    width:290px;
    height:30px;
    border-radius: 5px;
    border-color: #999;
}

#dropdown {
    width:298px;
    height:38px;
    border-radius: 5px;
}

option:first {
    color:#999;
}

#tombol-submit {
    background-color: #2b2f33;
    color: white;
    font-weight: bolder;
    width: 298px;
    height: 30px;
    border-radius: 5px;
    
}

.raja-ampat {
    width: 75%;
}

blockquote > i {
    color: #798DA3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}